$white:#f9f9f9;
$black:#303030;
$tan:#cfb995;
$silver:#b2b2b2;
$sunsetOrange:#5BFFFF;
$eirdGreeen:#57e690;
$pastelOrange:#ff915b;
$headergold:#cfb995;
$skyBlue:#57dbe6;
$paleOrange:#ffbe5b;
$kiwiGrenn:#8fe360;
$lightGold:#ffdf5b;
$grey:#5e5e5e;
$realwhite:#fff;


//Fonts

@font-face {
    font-family: 'Montserrat-Black';
    src: url(../assets/Montserrat/Montserrat-Black.ttf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-BlackI-talic';
    src: url(../assets/Montserrat/Montserrat-BlackItalic.ttf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../assets/Montserrat/Montserrat-Bold.ttf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-Bold-Italic';
    src: url(../assets/Montserrat/Montserrat-BoldItalic.ttf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url(../assets/Montserrat/Montserrat-ExtraBold.ttf) format('opentype');
}


@font-face {
    font-family: 'Montserrat-ExtraBoldItalic';
    src: url(../assets/Montserrat/Montserrat-ExtraBoldItalic.ttf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url(../assets/Montserrat/Montserrat-ExtraLight.ttf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-ExtraLightItalic';
    src: url(../assets/Montserrat/Montserrat-ExtraLightItalic.ttf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-Italic';
    src: url(../assets/Montserrat/Montserrat-Italic.ttf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url(../assets/Montserrat/Montserrat-Light.ttf) format('opentype');
}


@font-face {
    font-family: 'Montserrat-LightItalic';
    src: url(../assets/Montserrat/Montserrat-LightItalic.ttf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../assets/Montserrat/Montserrat-Medium.ttf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-MediumItalic';
    src: url(../assets/Montserrat/Montserrat-MediumItalic.ttf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../assets/Montserrat/Montserrat-Regular.ttf) format('opentype');
}


@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(../assets/Montserrat/Montserrat-SemiBold.ttf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-Thin';
    src: url(../assets/Montserrat/Montserrat-Thin.ttf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-SemiBoldItalic';
    src: url(../assets/Montserrat/Montserrat-SemiBoldItalic.ttf) format('opentype');
}
@font-face {
    font-family: 'Montserrat-ThinItalic';
    src: url(../assets/Montserrat/Montserrat-ThinItalic.ttf) format('opentype');
}


