@import 'colors';
html{
  font-family: Montserrat-Regular;
   
}
*, *:after{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
.app{
    background-color: #ebebff /* #efefff  */;
    width: 100vw;
    overflow-x: hidden;
    
}
